#expandmenu {

    position: relative;
    border: none;
}

ul#expandmenu {
    padding: 0;

    section.is-open {
        display: block !important;

    }
}

#expandmenu li {
    list-style: none;
    margin-right: 60px;
    display: inline;

    @media(max-width: 767px) {
        margin-right: 0;
    }
}

#expandmenu li a {
    padding: 10px 25px;

    text-decoration: none;
    color: #100F0F;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}


#expandmenu li a.active {
    color: $brand-secondary;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 4px;
        background-color: $brand-secondary;
    }
}

#expandmenu li a:hover {
    color: $brand-secondary;
}




#expandmenu section {
    border-top: 1px solid #B1B1B1;
    display: none;
    /* I NEED TO FIX THIS */
    float: left;
    overflow: hidden;
    padding: 1%;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 30px;
}

.no-js #expandmenu section {
    display: none;
    /* I NEED TO FIX THIS */
}

#expandmenu li ul li a {
    padding: 10px 25px;
    border-bottom: 1px dotted #ccc;
}

@media only screen and (max-width: 30em) {
    #expandmenu {
        border-top: 1px solid #999;
        border-right: 1px solid #999;
        border-left: 1px solid #999;
        width: 100%;
    }

    ul#expandmenu {
        padding: 0;
        margin: 0;
    }

    #expandmenu li {
        display: block;
    }

    #expandmenu li a {
        display: block;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #999;
    }

    #expandmenu section {
        float: none;
        padding: 1% 3% 0 3%;
        position: static;
    }

}

#expandmenu .channel_accordian .accordion a, .fillings a {
    @media(max-width: 767px) {
        padding-left: 0 !important;
        padding-right: 0 !important;

    }

}

#expandmenu .channel_accordian .accordion .card-header {
    @media(max-width: 767px) {
        padding-right: 0;
        display: flex;
        position: relative;
        span.title{
            width: 90%;
        }
        span.accicon.rotate-icon{
            width: 10%;
            position: absolute;
            right: 0;
            top:10px;
        }
    

    }
 
}