.about-banner{

    position: relative;
    &:before{
        content: "";
    background-color: $semidark-bg;
    width: 460px;
    height: 460px;
    border-radius: 560px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    }
    height: 100vh;
    .round-c-block{
        .media-src{
            img.person-fly{
                height: 400px;
            }
        }
    }
    .down_arrow-grey
    {
        display: block;
        left: 60px;
        position: absolute;
        bottom: 100px;
        transition: all 5s ease;
        scroll-behavior: smooth;
        img
        {
            width: 30px;
            bottom: -80px;
            position: absolute;
        }
    }
    
    
}