.carditem-1 {
    position: relative;

    @media(max-width:767px) {
        margin-bottom: 30px;
        padding: 20px;
    }

    &.large-height {
        .data-content {
            height: 400px;

            @media(max-width:767px) {
                height: 300px;
            }
        }
    }

    &.medium-height {
        .data-content {
            height: 300px;
        }
    }

    &.large {
        &:hover {
            .has-bg {
                opacity: 1;
                // transform: scale(1.1, 1.3);
            }
        }

        .data-content {
            height: 260px;

            h4 {

                font-size: 42px;
                font-weight: 600;
                line-height: 46px;
                padding-bottom: 30px;

            }
        }

    }

    &.light-view {
        &.light-text {
            .has-bg {
                background-size: cover;
                background-position: center;

            }

            &:hover {
                .has-bg {
                    background-color: $dark-bg;

                }

                p {
                    color: white;
                }

                h4 {
                    color: white;
                }

                p {
                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
            }

            .data-content {

                @media(max-width:767px) {
                    p {
                        color: white;
                    }

                    h4 {
                        color: white;
                    }

                    p {
                        a {
                            color: white;
                            text-decoration: none;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .has-bg {
            background-color: $semidark-bg;
            box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.25), 0px -5px 10px 0px rgba(255, 255, 255, 1);

            @media(max-width:767px) {
                background-size: contain;
                background-position: bottom;
            }


        }

        &:hover {
            p {
                color: white;
            }

            p {
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }

        .data-content {
            .hr-label-holder {
                color: $fulldark-bg;

                &::before {
                    background: #B1B1B1;

                }
            }

            h4 {
                color: $fulldark-bg;
            }

            p {


                a {
                    color: $fulldark-bg;
                    font-weight: 600;

                    &:hover {
                        color: $brand-secondary;
                    }
                }
            }
        }
    }


    &.dark-view {

        .has-bg {
            box-shadow: 10px 10px 10px -5px #000000, 0px -5px 10px 0px rgba(255, 255, 255, 0.2);
        }

        &:hover {
            .has-bg {
                background-color: $dark-bg;
            }

            p {
                color: white;
            }

            p {
                a {
                    color: $fulldark-bg;
                    text-decoration: none;

                }
            }
        }

        .data-content {
            .hr-label-holder {
                color: $mediumdark-bg;

                &::before {
                    background: rgba(255, 255, 255, 0.5);

                }
            }

            h4 {
                color: white;
            }

            p {
                margin-bottom: 0;

                a {
                    color: white;
                    font-weight: 600;

                    &:hover {
                        color: $brand-secondary;
                    }
                }
            }
        }
    }

    .has-bg {
        position: absolute;
        height: calc(100% + 60px);
        width: calc(100% + 0px);
        top: -30px;
        left: 0;
        right: 0;
        transition-property: width;
        background-repeat: no-repeat;
        background-position: 0 0;
        border-radius: 10px;
        background-size: cover;
        background-color: $dark-bg;
        opacity: 0;
        @include interaction2;
        transition: all 0.3s ease-out;
        z-index: 1;
        margin: 0 auto;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 1), 0 -10px 20px -5px rgba(0, 0, 0, 0.25);

        @media(max-width:767px) {
            opacity: 1;
            height: calc(100%);
            top: 0;
            background-color: #292833;
        }


        &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 1;
            height: 100%;
        }
    }

    &:hover {
        .has-bg {
            opacity: 1;
            // transform: scale(1.2, 1.2);
            width: calc(100% + 64px);
            left: -32px;

            @media(max-width:767px) {
                width: calc(100%);
                left: 0;
                top: 0;
                height: 100%;
            }

        }
    }

    .data-content {



        height: 240px;
        position: relative;
        z-index: 2;
        padding: 0;

        p {
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }


    }

    &.default-view {
        &:hover {
            .has-bg {
                width: calc(100% + 24px);
                left: -12px;
                filter: grayscale(0);
                @media(max-width: 1024px){
                    filter: grayscale(1);
                    width: calc(100%);
                    left: 0;
                    right: 0;

                }
            }
        }

        .has-bg {
            opacity: 1;
            // box-shadow: 10px 10px 10px -5px #000000, 0px -5px 10px 0px rgba(255, 255, 255, 0.2);
            box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.25), 0px -5px 10px 0px white;
            filter: grayscale(1);
            background-size: cover;
            @media(max-width: 1024px){
                filter: grayscale(0);
            }
        }

        .data-content {
            padding: 0 20px;
            @media(max-width: 1024px){
                height: 240px;
                padding: 0 15px;
            }
        }
    }

}

.carditem-2 {
    position: relative;

    &:before {
        content: "";
        border-left: 1px solid #FFFFFF29;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 1;
    }

    h5 {
        font-size: 18px;
        font-weight: 600;

        @media(max-width:767px) {
            margin-bottom: 0;
        }
    }

    h6 {
        @media(max-width:767px) {
            line-height: 28px;
        }
    }


    .has-bg {
        position: absolute;
        height: 120%;
        width: 100%;
        top: -10%;
        left: 0;
        right: 0;
        transition-property: width;
        background-repeat: no-repeat;
        background-position: 0 0;
        border-radius: 10px;
        background-size: cover;
        background-color: #F1F0F0;
        opacity: 0;
        @include interaction2;
        transition: all 0.3s ease-out;
        z-index: 1;
        margin: 0 auto;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 1), 0 -10px 20px -5px rgba(0, 0, 0, 0.25);

        &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 1;
            height: 100%;
        }
    }

    &:hover {
        .has-bg {
            opacity: 1;
            width: 120%;
            left: -10%;

            // transform: scale(1.15, 1.1)
            @media(max-width:767px) {
                width: 100%;
                left: 0;
                height: 100%;
                opacity: 0;


            }
        }

        h5 {
            color: white;

            @media(max-width:767px) {
                color: $fulldark-bg;
            }
        }

        h6 {
            color: white;

            @media(max-width:767px) {
                color: $fulldark-bg;
            }
        }

        a.common-link-text {
            color: white;
            text-decoration: none;

            @media(max-width:767px) {
                color: $fulldark-bg;
            }
        }

    }

    &-content {
        position: relative;
        z-index: 2;
        padding: 0;
        min-height: 180px;

        @media(max-width:767px) {
            min-height: auto;


        }
    }

    a.common-link-text {
        color: $dark-bg;
        font-weight: 600;
        font-size: 16px;
        position: relative;
        z-index: 1;

        &:hover {
            color: $brand-secondary;
        }


    }
}

.hr-data-cards {
    border-radius: 20px;
    margin-bottom: 60px;
    @include interaction2;
    position: relative;

    &:before {
        content: "";
        width: 100%;
        border-radius: 20px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        @include interaction2;
    }

    &.dark-view {
        &:hover {
            background-color: $dark-bg;

            @media(max-width:767px) {
                background-color: transparent;
            }

            // box-shadow:10px 10px 10px -5px #000000, 0px -5px 10px 0px rgba(255, 255, 255, 0.2);
            &:before {
                content: "";
                background-color: $dark-bg;
                transform: scale(1.025, 1);
                box-shadow: rgb(0, 0, 0) 10px 10px 10px -5px, rgba(255, 255, 255, 0.2) 0px -5px 10px 0px;

                @media(max-width:767px) {
                    box-shadow: none;
                    transform: scale(1);
                }

            }

            .hr-data-content {
                h4 {
                    color: white;
                }
            }

        }

    }

    &.light-view {
        &:hover {
            background-color: #919095;

            @media(max-width:767px) {
                background-color: transparent;
            }

            &:before {
                content: "";
                background-color: #919095;
                transform: scale(1.025, 1);

                @media(max-width:767px) {
                    background-color: transparent;

                    transform: scale(1);
                }

            }

            .hr-data-content {
                h4 {
                    color: white;
                }
            }

        }

    }

    &:hover {
        &:before {
            content: "";
            background-color: $dark-bg;
            transform: scale(1.025, 1);

            @media(max-width:767px) {
                transform: scale(1);

            }
        }

        .hr-data-media {
            transform: scale(1.05, 1);

            @media(max-width:767px) {
                transform: scale(1);
            }

            img {
                transform: scale(1, 1);

                @media(max-width:767px) {
                    transform: scale(1);
                }
            }
        }



    }

    .hr-data-media {
        overflow: hidden;
        border-radius: 20px;

        .hr-label-holder {
            margin-bottom: 10px;
        }

        @include interaction2;

        @media(max-width: 767px) {
            margin-bottom: 20px;
        }

        img {
            transform: scale(1.05, 1);
            position: relative;
            height: 440px;
            filter: grayscale(100%);
            @include interaction2;

            @media(max-width: 1024px) {
                height: auto;
            }

            @media(max-width: 767px) {
                transform: scale(1);
                height: auto;
                filter: grayscale(0%);

            }
        }
    }

    .hr-data-content {
        padding: 0 60px 0 30px;

        @media(max-width: 1024px) {
            padding: 0 0 0 0;
        }

        h4 {
            color: white;
            margin-bottom: 20px;
        }

        .common-link-dark {
            color: white;
            position: absolute;
            bottom: 30px;

            @media only screen and (max-width:480px) {
                position: inherit;
                bottom: 0px;
            }

            &:hover {
                color: $brand-secondary !important;
            }

            @media(max-width:767px) {
                position: relative;
                bottom: 0;
            }

        }

    }

    &:hover {
        .hr-data-content {
            h4 {
                color: white;
            }

            p {
                color: white
            }

            .common-link-dark {

                color: white;


            }


        }

        .hr-data-media {
            img {
                filter: grayscale(0%);
            }
        }

    }
}

//inverstor card.profile-block {


.info-data-card {


    background-color: transparent;
    height: 230px;
    padding: 10px 30px;
    transition: all 0.5s ease;
    box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0), 0px -5px 10px 0px rgba(255, 255, 255, 0);
    border-radius: 10px;

    // margin-bottom: 30px;
    @media(max-width:767px) {
        height: 230px;
        background-color: #F1F0F0;
        box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.2), 0px -5px 10px 0px white;
    }

    @media(max-width:767px) {
        padding: 15px;
        margin-bottom: 15px;
    }

    &-holder {
        height: 100%;




        h5 {
            font-weight: 600;
        }


    }

    &:hover {
        box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.2), 0px -5px 10px 0px white;
        background-color: $semidark-bg;
    }

    //     &-media {
    //  height: 340px;

    //  @media(max-width:1023px) {
    //      height: 260px;
    //  }

    //  @media(max-width:767px) {
    //      height: 360px;
    //  }

    //  overflow: hidden;
    //  position: relative;
    //  background-color: $semidark-bg;
    //  border-radius: 20px;
    //  display: flex;
    //  align-items: flex-end;

    //  &:after {
    //      content: "";
    //      position: absolute;
    //      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(241, 240, 240, 1) 100%);
    //      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(241, 240, 240, 1) 100%);
    //      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(241, 240, 240, 1) 100%);
    //      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f1f0f0', GradientType=0);
    //      width: 100%;
    //      height: 40%;
    //      bottom: 0;
    //      left: 0;
    //      right: 0;
    //  }


    //     }
}