p {
  outline: 0;
}

.channel_accordian {
  .card-header .title {
    font-size: 17px;
    color: #000;
    font-weight: 700;
  }

  .card-header .accicon {
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .card-header {
    cursor: pointer;
    border-bottom: none;
    background: none;
    padding-left: 0;

    .accicon {}
  }

  .card {
    background-color: transparent;

    border: 0;
    border-bottom: 1px solid #ddd !important;

  }

  .card-body {
    border-top: 1px solid #ddd;
    padding-left: 0;

    .card_submenu {
      border-bottom: 1px solid #ddd !important;
      margin-bottom: 10px;

    }

    ul {
      li {

        list-style-type: none;
      }
    }
  }

  .card-header:not(.collapsed) .rotate-icon {
    img {
      display: none;
    }

    &:after {
      content: " ";

      background-image: url('https://web.z5x.tech/ent/images/icon-expanded.svg') !important;
      display: block;
      width: 30px;
      height: 15px;
      background-position: center;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
    }


  }

}