p{
    outline: 0;
}

.channel_accordian
{
    .card-header .title {
        font-size: 17px;
        color: #000;
        font-weight: 700;
    }
    .card-header .accicon {
      float: right;
      font-size: 20px;  
      width: 1.2em;
    }
    .card-header{
      cursor: pointer;
      border-bottom: none;
      background:none;
      .accicon
      {
       
          // &:after
          // {
          //     content: "-";
          // }
      }
    }
    .card{
    
      border: 0;
    border-bottom: 1px solid #ddd !important;
      
    }
    .card-body{
      border-top: 1px solid #ddd;
      // .row
      // {
      //   border-bottom: 1px solid #B1B1B1;
      //   padding: 15px 0;
      // }
      .card_submenu
      {
        border-bottom: 1px solid #ddd !important;
        margin-bottom: 10px;
      
      }
      ul
      {
         li
         {
            // list-style-image: url('../images/download_icon.svg') !important;
            list-style-type: none;
         }
      }
    }
    .card-header:not(.collapsed) .rotate-icon {
      img
      {
        display: none;
    }
      &:after
      
      {
        content: " ";
        
        background-image: url('../images/icon_Opened.svg') !important;
        display: block;
        width: 30px;
        height: 15px;
      }
      // transform: rotate(180deg);
     
  }
    
}   