header {
    position: absolute;
    z-index: 99;
    width: 100%;
    // background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    // background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);

    background-color: transparent;

    @media(max-width:1023px) {
        padding: 10px 0;
    }

    .navbar-brand {
        img {
            height: 40px;
        }
    }

    nav.navbar {
        padding: 0px 15px;

        &.fixed-top {
            background-color: #B1B1B1;

            .navbar-nav {


                .nav-item {

                    .nav-link {
                        color: white
                    }
                }
            }
        }

        .navbar-nav {
            a.nav-link.search_img img {
                width: 33px !important;
            }

            .nav-item {
                font-size: 18px;
                margin-right: 15px;
                font-weight: 400;
                letter-spacing: 1px;

                .nav-link {
                    color: white;
                    position: relative;
                    line-height: 60px;
                    font-size: 16px;

                    @media(max-width:1023px) {
                        line-height: 30px;
                    }

                    &.dropdown-toggle::after {
                        display: none;

                        @media(max-width:1023px) {
                          
                            
                            border-top-color:rgba(0,0,0,0.25);
                            float: right;
                            margin-top: 12px;
                            display: block;
                        }

                    
                    }



                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        width: 0%;
                        height: 2px;
                        background-color: white;
                        bottom: 0;
                        margin: 0 auto;
                        transition: all 0.5s ease;

                    }

                    &:hover {
                        &:before {
                            width: 100%;
                        }
                    }
                }

                .dropdown-menu {
                    background-color: #999999;
                    border-radius: 0;
                    border: 0;
                    margin: 0;

                    @media(max-width:1023px) {
                        background-color: $mediumdark-bg;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 100%;
                        top: 0;
                        height: 10%;

                        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);

                        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);

                    }

                    .dropdown-item:focus,
                    .dropdown-item:hover {
                        background-color: transparent;
                    }

                    .child-nav {
                        padding: 0;
                        margin: 0;
                        text-align: center;
                        width: 100%;
                        display: block;



                        @media(max-width:1023px) {
                            text-align: left;
                        }

                        li {
                            list-style: none;
                            margin-right: 40px;
                            display: inline-block;
                            position: relative;

                            &:after {
                                content: "";
                                width: 2px;
                                height: 14px;
                                background-color: rgba(255, 255, 255, 0.25);
                                position: absolute;
                                right: -20px;
                                top: 20px;
                            }

                            @media(max-width:1023px) {
                                &:after {
                                    display: none;

                                }


                            }

                            @media(max-width:1023px) {
                                display: block;
                                margin-right: 0px;
                            }

                            &:last-child {


                                margin-right: 0;

                                &:after {
                                    display: none;
                                }
                            }

                            a {
                                color: white;
                                line-height: 50px;
                                transition: all 0.5s ease;

                                &:hover {
                                    text-decoration: none;
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                }

            }
        }

        @media(max-width:1023px) {
            .navbar-collapse {
                background-color: white;
                margin-top: 10px;
                padding: 00px 20px;
                width: 100%;

                ul.navbar-nav {
                    li.nav-item {
                        margin-right: 0;
                        line-height: 36px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                        a.nav-link {
                            color: $dark-bg;
                        }


                    }
                }

            }
        }

    }
}

.nav-icon3 {

    width: 40px;
    height: 28px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-color: transparent;
    display: none;

    @media(max-width:1023px) {
        display: block;

    }

    &:hover,
    &:focus,
    &:visited {
        outline: 0;
    }
}

.nav-icon3 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}







/* Icon 3 */

.nav-icon3 span:nth-child(1) {
    top: 0px;
}

.nav-icon3 span:nth-child(2) {
    top: 12px;
}

.nav-icon3 span:nth-child(3) {
    top: 12px;
}

.nav-icon3 span:nth-child(4) {
    top: 24px;
}

.nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* Icon 4 */

.show>.dropdown-menu {
    max-height: 900px;
    visibility: visible;
}

.dropdown-menu {
    display: block;
    max-height: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    overflow: hidden;
}