.hero-slider {




    .slick-slide {
        height: 100vh;

        @media(max-width:1023px) {
            height: auto;
        }
    }

    .slider__counter {
        display: none;
        position: absolute;
        bottom: 2rem;
        right: 3rem;
        z-index: 1;
        font-size: 36px;
        color: #FFFFFF !important;

        @media(max-width:767px) {
            display: none !important;
        }
    }

    .slick-prev {
        background-image: url("https://web.z5x.tech/ent/images/icon_Arrow_left.svg");
        background-repeat: no-repeat;
        position: absolute;
        background-position: center;

        // @media(max-width:767px) {
        //     display: none !important;
        // }
        &:before {
            content: " " !important;
        }


    }

    .slick-dots {
        display: none;

        @media(max-width:767px) {
            display: block;
        }
    }



    .home-block-carousel {
        .slide {
            overflow: hidden;
        }

        .slick-slide.slick-active {

            .slide {

                p {
                    transform: translateX(0px);
                    a{
                        &::before{
                            width: 100px;
                            transform: translateX(0px);
                         
                        }
                    }
                }

                h2 {
                    transform: translatey(0px);
                    transition: all 1s linear;

                    span {
                        &:before {
                            transform: translateX(0px);
                            width: 100%;
                        }

                    }
                }
            }
        }

        margin-bottom: 0;

        .slide {
            width: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: relative;


            &-content {
                width: 100%;
                height: 100vh;
                position: relative;

                @media(max-width:1023px) {
                    height: 400px;

                }

                h2 {
                    color: white;

                    position: relative;
                    margin-bottom: 0;
                    transform: translatey(60px);
                    transition-duration: 1s;
                    transition: all 1s linear;
                    line-height: 100px;

                    @media(min-width:1366px) {
                        font-size: 100px;
                    }

                    @media(max-width:1024px) {
                        font-size: 60px;
                        line-height: 60px;
                    }

                    @media(max-width:767px) {
                        font-size: 36px;
                        line-height: 40px;

                        br {
                            display: none;
                        }
                    }

                    span {
                        position: relative;

                        @media(min-width:1024px) {
                            display: inline-block;
                        }


                        &:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            width: 0%;
                            height: 2px;
                            background-color: white;
                            bottom: 0px;
                            right: 0;
                            margin: 0 auto;
                            bottom: -8px;
                         
                            margin-left: 0;
                            transform: translateX(0px);
                            transition: all 1.25s linear;
                            text-align: left;

                            @media(max-width:1024px) {
                                display: none;

                            }


                            // @media(max-width:767px) {
                            //     bottom: 2px;
                            //     height: 2px;
                            // }
                        }

                    }
                }

                .down_arrow {
                    display: block;
                    left: 10px;
                    position: absolute;
                    bottom: 168px;
                    transition: all 5s ease;
                    scroll-behavior: smooth;

                    img {
                        width: 30px;
                        bottom: -80px;
                        position: absolute;
                    }

                    &:after {
                        content: "";
                        font-family: Fontawesome;
                        font-size: 50px;
                        display: block;
                        padding-top: 30px;
                        padding-bottom: 0px;
                        position: absolute;
                        color: #fff;
                    }
                }
            }

            p {
                text-align: right;
                position: absolute;
                right: 140px;
                margin-bottom: 0;
                bottom: 100px;
                transform: translateX(100px);
                transition: all 1s linear;

                @media(max-width:1024px) {
                    bottom: 40px;
                    right: 40px;
                }

                @media(max-width:767px) {
                    bottom: 60px;
                    right: auto;
                    left: 60px;
                }

                a.annual_report {
                    padding-top: 70px !important;

                    @media(max-width:767px) {
                        padding-top: 0 !important;
                    }

                }

                a {
                    color: white;
                    position: relative;
                    text-decoration: none;


                    @media(max-width:767px) {
                        br {

                            display: none;
                        }
                    }

                    &:before {
                        top: 50%;
                        content: "";
                        position: absolute;
                        width: 0px;
                        height: 2px;
                        background: rgba(255, 255, 255, 1);
                        transform: translateX(0px);
                        transition: all 1.25s linear;

                        left: -120px;

                        @media(max-width:767px) {
                            width: 46px;
                            left: -60px;
                            background: rgba(255, 255, 255, 1);

                        }

                    }
                }
            }
        }

        .slick-dots {
            bottom: 30px;

            li {
                height: auto;
                width: auto;

                button {
                    width: 25px;
                    height: auto;

                    &:before {
                        opacity: 1;
                        border-radius: 20px;
                        content: "";
                        background-color: $brand-primary;
                        width: 100%;
                        height: 4px;
                    }
                }

                &.slick-active button:before {
                    opacity: 1;
                    background-color: white;
                }
            }
        }

        .slick-prev {
            left: 0;
            z-index: 999;
            height: 90%;
            padding: 0 30px;
            text-align: center;
            // display: none !important;
        }

        .slick-next {
            bottom: 80px;
            left: 0px;
            right: 0px;
            z-index: 999;
            padding: 0px;
            // height: 0;
            text-align: center;
            max-width: 1220px;
            height: 46px;
            width: 100%;


            // background-color: red;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0px auto -46px auto;
            position: relative;
            pointer-events: none;
            opacity: 1;



            &:hover {
                opacity: 1;

            }

            @media(max-width:1024px) {
                bottom: 60px;
                left: 30px;
            }

            &:before {
                cursor: pointer;
                pointer-events: auto !important;
                // opacity: 1;
                font-size: 0;
                content: "";
                background-image: url(https://web.z5x.tech/ent/images/downarrow.svg);
                width: 46px;
                height: 46px;
                background-color: transparent;
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                z-index: 9999;

            }
        }
    }

}




.hero-slider video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);



    @media(max-width:1024px) {
        min-height: 100%;
    }
}



.hero-slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.hero-slider button {

    animation-name: bounce;
    animation-timing-function: linear;
    animation-duration: 1.75s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}