.card-horizontal {
    border-radius: 30px;
    margin-bottom: 60px;
    @include interaction2;
    position: relative;

    &:before {
        content: "";
        width: 100%;
        border-radius: 30px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        @include interaction2;
    }

    &:hover {
        &:before {
            content: "";
            background-color: $dark-bg;
            transform: scale(1.025, 1);
        }

        .hr-data-media {
            transform: scale(1.05, 1);

            img {
                transform: scale(1);

            }
        }



    }

    .hr-data-media {
        overflow: hidden;
        border-radius: 30px;
        @include interaction2;

        img {
            transform: scale(1.05, 1);
            position: relative;
            height: 480px;
            filter: grayscale(100%);
            @include interaction2;
        }
    }

    .hr-data-content {
        padding: 0 60px 0 30px;

        h4 {
            margin-bottom: 20px;
        }

        .common-link-dark {
            &:hover {
                color: $brand-secondary !important;

            }
        }

    }

    &:hover {
        .hr-data-content {
            h4 {
                color: white;
            }

            p {
                color: white
            }

            .common-link-dark {

                color: white;


            }


        }

        .hr-data-media {
            img {
                filter: grayscale(0%);
            }
        }

    }
}




.new-hr-data-cards {
    border-radius: 30px;
    margin-bottom: 30px;
    @include interaction2;
    position: relative;

    &:hover {
        background-color: $dark-bg;
    }

    // &.light-view {
    //     &:before {
    //         content: "";
    //         position: absolute;
    //         left: 0;
    //         height: 100%;
    //         width: 100%;
    //         border-radius: 30px;

    //         @include interaction2;
    //     }

    //     &:hover {
    //         &:before {
    //             background-color: #919095;
    //             // width: calc(100% + 30px);
    //             transform: scale(1.05, 1);
    //         }

    //         // width: calc(100% + 30px);
    //         .hr-data-media {
    //             @include interaction2;
    //             transform: scale(1.05, 1);
    //             left: -10px // transform: scale(1.05, 1);
    //         }
    //     }
    // }

    .hr-data-media {
        overflow: hidden;
        border-radius: 30px;
        @include interaction2;

        img {
            position: relative;
            filter: grayscale(100%);
            @include interaction2;
        }


    }

    &:hover {
        .hr-data-content {
            h4 {
                color: white;
            }

            p {
                color: white
            }

        }

        .hr-data-media {
            img {
                filter: grayscale(0%);
            }
        }

    }

    .hr-data-content {

        p {
            color: $fulldark-bg;
        }


        h4 {
            padding-bottom: 60px;
            color: $dark-bg;

        }

        p {
            a {
                color: white;
            }
        }
    }
}


.hr-label-holder {
    position: relative;
    padding-left: 40px;
    font-size: 20px;
    height: 30px;
    margin-bottom: 20px;
    color: $mediumdark-bg;
    font-weight: 600;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: $mediumdark-bg;

        left: 0;
    }
}