.card-horizontal {
    border-radius: 30px;
    @include interaction2;
    position: relative;

    &:before {
        content: "";
        width: 100%;
        border-radius: 30px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        @include interaction2;
    }

    &:hover {
        &:before {
            content: "";
            background-color: $dark-bg;
            transform: scale(1.025, 1);

            @media(max-width:767px) {
                background-color: inherit;
            }
        }

        .hr-data-media {
            transform: scale(1.05, 1);

            @media(max-width:767px) {
                transform: scale(1);

            }

            img {
                transform: scale(1);

            }
        }



    }

    .hr-data-media {
        overflow: hidden;
        border-radius: 30px;
        @include interaction2;

        img {
            transform: scale(1.05, 1);
            position: relative;
            height: 460px;
            filter: grayscale(100%);
            @include interaction2;

            @media(max-width:1024px) {
                height: auto;
                width: 100%;
                filter: grayscale(0%);

            }
        }
    }

    .hr-data-content {
        padding: 0 60px 0 30px;

        @media(max-width:767px) {
            padding: 30px 0 0 0;
        }

        h4 {
            margin-bottom: 20px;
        }

        .common-link-dark {

            &:hover {
                color: $brand-secondary !important;

            }
        }

    }

    &:hover {
        .hr-data-content {
            h4 {
                color: white;

                @media(max-width:767px) {
                    color: $fulldark-bg;
                }
            }

            p {
                color: white;

                @media(max-width:767px) {
                    color: $fulldark-bg;
                }
            }

            .common-link-dark {

                color: white;

                @media(max-width:767px) {
                    color: $fulldark-bg;
                }


            }


        }

        .hr-data-media {
            img {
                filter: grayscale(0%);
            }
        }

    }
}




.new-hr-data-cards {
    border-radius: 30px;
    margin-bottom: 30px;
    @include interaction2;
    position: relative;

    &:hover {
        background-color: $dark-bg;
    }

    .hr-data-media {
        overflow: hidden;
        border-radius: 30px;
        @include interaction2;

        img {
            position: relative;
            filter: grayscale(100%);

            @include interaction2;
        }


    }

    &:hover {
        .hr-data-content {
            h4 {
                color: white;
            }

            p {
                color: white
            }

        }

        .hr-data-media {
            img {
                filter: grayscale(0%);
            }
        }

    }

    .hr-data-content {

        p {
            color: $fulldark-bg;
        }


        h4 {
            padding-bottom: 60px;
            color: $dark-bg;

        }

        p {
            a {
                color: white;
            }
        }
    }
}


.hr-label-holder {
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    height: 30px;
    margin-bottom: 20px;
    color: $mediumdark-bg;
    font-weight: 600;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: $mediumdark-bg;

        left: 0;
    }

    &.light-view {
        color: white;

        &::before {
            content: "";
            background-color: white;

        }
    }

    &.fulldark-view {
        color: $fulldark-bg;

        &::before {
            content: "";
            background-color: $fulldark-bg;

        }
    }
}