
.media-card-holder {
    box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.05), 0px -5px 10px 0px rgba(0, 0, 0, 0);

    position: relative;
    height: 420px;
    padding: 40px 30px;
    border-radius: 20px;
    background-color: $semidark-bg;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center right;
    transition: all 0.3s ease;

    .has-bg {
        position: absolute;
        height: calc(100% + 00px);
        width: calc(100% + 0px);
        top: 0px;
        left: 0;
        right: 0;
        transition-property: width;
        background-repeat: no-repeat;
        background-position: 0 0;
        border-radius: 10px;
        background-size: cover;
        background-color: #F1F0F0;
        opacity: 1;
        @include interaction2;
        transition: all 0.3s ease-out;
        z-index: 1;
        margin: 0 auto;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 1), 0 -10px 20px -5px rgba(0, 0, 0, 0.25);
    }

    &:hover {
        .has-bg {
            opacity: 1;
            // transform: scale(1.2, 1.2);
            width: calc(100% + 30px);
            left: -30px;

            @media(max-width:767px) {
                width: calc(100%);
                left: 0;
                top: 0;
                height: 100%;
            }

        }
    }
    // &:hover {
    //     transform: scale(1.05);
    // }

    @media(max-width:1024px) {
        height: 360px;
        padding: 30px;


    }

    &-content {
        .date-stamp {}
    }

    .common-link-dark {
        position: absolute;
        left: 30px;
        bottom: 40px;

        @media(max-width:1024px) {
            bottom: 30px;
        }

        // i{
        //     width: 50px;
        //     height: 50px;
        //     background-color: red;
        //     text-align: center;
        //     line-height: 50px;
        //     border-radius: 50px;
        // }
    }



    &.light-view {
        .date-stamp {
            h6 {
                color: white;
            }

        }

        h5 {
            color: white;
        }

        a.common-link-dark {
            color: white;
        }
    }

    &.dark-view {
        a.common-link-dark {
            color: #292833;
        }
    }

}