@mixin c-pointer {
  cursor: pointer;

}

@mixin interaction1 {
  transition: all 0.3s ease;

}

@mixin interaction2 {
  transition: all 0.5s ease;

}

@mixin bannergrbg{
  background: transparent linear-gradient(180deg, #D9D9D9 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  // background-color: red;
}

@mixin light-shadow {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6ffffff', GradientType=0);
  /* IE6-9 */

}
