.banner_sec
{
    background-image: url(../images/Services-bg.svg);
    background-position: right center;
    background-size: 118%;
    background-repeat: no-repeat;
    background-color: none;
    background-origin: border-box;
    @media only screen and (max-width:480px)
    {
        background:none;
        background-color: #f6f9fd;
    }
    .banner_center
    {
        padding-top: 0;
        position: relative;
    }
    .main_text {
        top: 50%;
        position: absolute;
        left: 0;
        transform: translate(0%, -50%);
        @media only screen and (max-width:480px)
        {
            padding-top: 30px;
            top: none;
        position: static;
        left: none;
        transform: none;
        }
    }
   
    .Hero-img_service img
    {
        width: 100% !important;
        margin-bottom: 55px !important;
        img
        {
            padding-bottom: 0 !important;
        }
    }
}


.exp_sec
{
    
    p
    {
        font-size: 18px;
        font-family: $secondary-font;
        color:#444445;
        font-weight: normal;
        margin: 0;
        @media only screen and (max-width:992px)
        {
            max-width: 100% !important;
        }
    }
    ul
    {
        margin:0;
        padding: 10px;
        list-style-type: square;
        color: $brand-color;
        li 
        {
            span
            {
                font-size: 18px;
                font-family: $secondary-font;
                color:#444445;
                font-weight: normal;
                margin: 0;
            }
        }
    }
    h3
    {
        font-weight: 600;
        font-family: $base-font;
        color:$brand-color;
    }
}

/*customer_sec*/

.customer-tab
{
    padding: 0 !important;
    h5
    {
        font-size: 30px !important;
    }
  sup {
        padding-right: 15px;
        color: #F5C600;
        font-weight: normal;
        position: absolute;
        margin-top: 34px;
    }
    span.title {
        margin-top: 29px;
        position: absolute;
        padding-left: 25px;
    }
  .Associate-counter {
       @media only screen and (max-width:480px)
       {
        border-bottom: 0 !important;
       }
}
}
/*customer_sec*/
.form_sec
{
    .value_sec
    {
        font-size: 28px;
        font-family: $base-font;
        font-weight: 500;
        color: $brand-color;
        padding-bottom: 30px;
    }
    .nine_four
    {
        @media only screen and (max-width:480px)
        {
           h3, h4
        {
           text-align: left !important;
        }
    }
   
    }
}
.aboutcustomer_sec {
    background-image: url('../images/Customers-projects-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .customer-tab {
        background: #2B2B2B 0% 0% no-repeat padding-box;
        opacity: 0.64;
        padding: 24px;
        @media only screen and (max-width:992px)
        {
            padding: 24px !important;
        }

        @media only screen and (max-width:480px) {
            padding: 0px !important;
            margin:0;
        }

        .counter-row {
            color: #fff;
            padding: 40px 0;
            text-align: center;
            .row
            {
                margin: 0 auto;
            }

            @media only screen and (max-width:992px) {
                padding: 15px;
            }

            @media only screen and (max-width:480px) {
                padding: 0px;
            }
            .prj_counter
            {
              justify-content: center;
              padding-right: 100px;
              .count-text
              {
                  span
                  {
                    font-size: 50px; font-weight: 300;margin-top: -16px;
                    position: absolute;
                    display: contents;
                   
                  }
                  .title
                  {
                    margin-top: 20px;
                    font-size: 12px;
                    font-weight: 700;
                    color: #fff;
                    font-family: $secondary-font;
                    letter-spacing: 2px;
                    @media only screen and (max-width:992px)
                    {
                        margin-top: 3px !important;
                    }
                  }
              }
              @media only screen and (max-width:480px) {
              
                  justify-content:flex-start;
            }
            }

            .Associate-counter {
                border-right: none !important;
                justify-content: center;
                text-align: right;
            

                @media only screen and (max-width:992px) {
                  
                }

                @media only screen and (max-width:480px) {
                    padding-bottom: 15px;
                      justify-content:flex-start;
                }
            }

            .counter {
                display: flex;
                flex-wrap: nowrap;
                border-right: 2px dashed #FFFFFF;

                // margin-right: 30px;
                @media only screen and (max-width:480px) {
                    border-right: 0;
                    border-bottom: 2px dashed #FFFFFF;
                    padding: 6px 0 !important;
                }
                .count-text
              {
                  span
                  {
                    font-size: 50px; font-weight: 300;margin-top: -16px;
                    position: absolute;
                    display: contents;
                  }
                  .title
                  {
                    margin-top: 20px;
                    font-size: 12px;
                    font-weight: 700;
                    color: #fff;
                    font-family: $secondary-font;
                    letter-spacing: 2px;
                    @media only screen and (max-width:992px)
                    {
                        margin-top: 3px !important;
                    }
                  }
              }

                h2 {
                    float: left;
                    margin: 0;
                    padding: 0;
                    font-weight: 300;
                    // font-family: $secondary-font;
                    font-size: 50px;

                    font-family: $secondary-font;
                    @media only screen and (max-width:992px)
                    {
                        font-size: 35px;
                    }
                    &:after {
                        content: '+';
                      
                    }
                }
                

                p {
                    margin: 0;
                    padding: 0;
                    color: #ffffff;
                    /* float: left; */
                    text-align: left;
                   padding: 7px;

                }
            }
        }

        .count-text {
            font-weight: 500;
            // font-family: $secondary-font;

            sup {
                padding-right: 10px;
                color: #F5C600;
                font-weight: normal;
            }
            .fa-2x {
                margin: 0 auto;
                float: none;
                display: table;
                color: #4ad1e5;
            }
            .fa-arrow-up
            {
                font-size: 10px !important;
            }
        }

    }



}

/*customer_sec*/

.best_tech
{
.value_sec
{
    h3
    {
        font-size: 28px;
        font-family: $base-font;
        font-weight: 500;
        color: $brand-color;
    }
    p
    {
        font-size: 18px;
        font-family: $secondary-font;
        font-weight: normal;
        color: #444445;
    }
    img
    {
        box-shadow: none;
    }
    .media_text
    {
        font-weight: normal;
        color: #444445;
        font-size: 18px;
        font-family: $secondary-font;
    }
}
.logo_slider
{
    img
    {
        box-shadow: none;
    }
}
.logo-carousel
{
    border-bottom:2px solid #DAE9F9  ;
    margin-bottom: 60px;
}
}
.about
{
    .slick-dots
    {
       display: none !important;
    }
}