.banner_sec
{
    background-image: url(../images/Services-bg.svg);
    background-position: right center;
    background-size: 118%;
    background-repeat: no-repeat;
    background-color: none;
    background-origin: border-box;
    @media only screen and (max-width:480px)
    {
        background:none;
        background-color: #f6f9fd;
    }
    .banner_center
    {
        padding-top: 0;
        position: relative;
    }
    .main_text {
        top: 50%;
        position: absolute;
        left: 0;
        transform: translate(0%, -50%);
        @media only screen and (max-width:480px)
        {
            padding-top: 30px;
            top: none;
        position: static;
        left: none;
        transform: none;
        }
    }
   
    .Hero-img_service img
    {
        width: 100% !important;
        margin-bottom: 55px !important;
        img
        {
            padding-bottom: 0 !important;
        }
    }
}


.exp_sec
{
    
    p
    {
        font-size: 18px;
        font-family: $secondary-font;
        color:#444445;
        font-weight: normal;
        margin: 0;
        @media only screen and (max-width:992px)
        {
            max-width: 100% !important;
        }
    }
    ul
    {
        margin:0;
        padding: 10px;
        list-style-type: square;
        color: $brand-color;
        li 
        {
            span
            {
                font-size: 18px;
                font-family: $secondary-font;
                color:#444445;
                font-weight: normal;
                margin: 0;
            }
        }
    }
    h3
    {
        font-weight: 600;
        font-family: $base-font;
        color:$brand-color;
    }
}

/*customer_sec*/

.customer-tab
{
    padding: 0 !important;
    h5
    {
        font-size: 30px !important;
    }
  sup {
        padding-right: 15px;
        color: #F5C600;
        font-weight: normal;
        position: absolute;
        margin-top: 34px;
    }
    span.title {
        margin-top: 29px;
        position: absolute;
        padding-left: 25px;
    }
  .Associate-counter {
       @media only screen and (max-width:480px)
       {
        border-bottom: 0 !important;
       }
}
}
/*customer_sec*/
.form_sec
{
    .value_sec
    {
        font-size: 28px;
        font-family: $base-font;
        font-weight: 500;
        color: $brand-color;
    }
    .nine_four
    {
        @media only screen and (max-width:480px)
        {
           h3, h4
        {
           text-align: left !important;
        }
    }
   
    }
}

.best_tech
{
.value_sec
{
    h3
    {
        font-size: 28px;
        font-family: $base-font;
        font-weight: 500;
        color: $brand-color;
    }
    p
    {
        font-size: 18px;
        font-family: $secondary-font;
        font-weight: normal;
        color: #444445;
    }
    img
    {
        box-shadow: none;
    }
    .media_text
    {
        font-weight: normal;
        color: #444445;
        font-size: 18px;
        font-family: $secondary-font;
    }
}
.logo_slider
{
    img
    {
        box-shadow: none;
    }
}
.logo-carousel
{
    border-bottom:2px solid #DAE9F9  ;
    margin-bottom: 60px;
}
}
