.best_tech
{
    background-color: #F8FAFD ;
    img
    {
       margin: 30px 0;
box-shadow: -16px -15px 5px 0px rgba(210,226,243,0.75);

    }
    p
    {
        color: $brand-color;
        font-size: 12px;
        font-weight: normal;
        font-family: $secondary-font;
    }
}