.header_sec {
  
         
        .service_nav
        {
            float: left !important;
            
        }
        .dropdown-toggle
        {
            &:after
            {
                margin-left: -0.745em !important;
            }
        }
    .dropdown { 
        position: static !important; 
      
    } 
      
    .dropdown-menu { 
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
        margin-top: 0px !important; 
        width: 100% !important; 
        .service_detail
        {
            border-bottom: 1px solid #CBE3FA;
            margin-bottom: 15px;
            padding: 15px 0;
            .service_offer
            {
                font-weight: 700;
                p
                {
                    color:#444445;
                   
                    font-weight: 500;
                }
            }
          
        }
        img:hover
        {
            background: transparent linear-gradient(122deg, #102397 0%, #00EAF8 100%) 0% 0% no-repeat padding-box;
            border: 3px solid #003A78;
            border-radius: 4px;
            transition: all 0.2s linear;
        }
        p
        {
            text-align: left;
            font-weight: normal;
            font-size: 14px;
            font-family: $base-font;
            color: #677897;
        }
        .dropdown_thumbnail
        {
            &:hover
            {
                color: $brand-color;
            }
        }
    } 


    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    &.active
    {
           
      
            border-bottom: 2px solid orange !important;
   }

    #navbartext {
        justify-content: flex-end;
    }

    .navbar-text {

        .navbar-nav {
            margin: 0;
            padding: 0;

            .nav-item {
                &.active.open
                {
                    background:$brand-color !important;
                    border-radius: 26px;
                    border: none !important;
                    .openings_tab
                    {
                        color: $white !important;
                        border: 0px solid #D2D2D2;
                        border-radius: 26px;
                    }
                
                &.active.open::after
                {
                    content: "";
                    display: block;
                    width: 0%;
                    border-bottom: 0px solid orange !important;
                    margin-left: 20px;
                   
                }
                }
                &.active::after {
                    content: "";
                    display: block;
                    width: 30%;
                    border-bottom: 2px solid orange !important;
                    margin-left: 20px;
                   
                }
                &:active:hover:after {
                        content: "";
                      display: block;
                        width: 50%;
                        margin-left: 20px;
                     border-bottom: 2px solid $accent-color;
                     }
               
                
                >a {
                    padding: 10px 20px;
                    text-align: left;
                    // font-family: $base-font;
                    font-size: 14px;
                    color: #444445;
                 

                    // &:active:after {
                    //     content: "";
                    //     display: block;
                    //     width: 50%;
                        
                    //     border-bottom: 2px solid $accent-color;

                    //     &:after {
                    //         content: "";
                    //         display: block;
                    //         width: 50%;
                    //         padding-top: 5px;
                    //         border-bottom: 2px solid $accent-color;
                    //     }
                    // }

                    // &:hover:after {
                    //     content: "";
                    //     display: block;
                    //     width: 50%;
                       
                    //     border-bottom: 2px solid $accent-color;
                    // }
                }

                .openings_tab {
                    border: 1px solid #D2D2D2;
                    border-radius: 26px;
                  
                  
                    .green_circle {
                        content: "";
                        width: 6px !important;
                        height: 6px;
                        background: #36CA00 0% 0% no-repeat padding-box;
                        opacity: 1;
                        position: absolute;
                        margin: 8px 5px;
                        border-radius: 50%;
                    }

                }
            }
        }
    }

}